.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    user-select: none;
}

.spinner {
    background: white;
    padding: 1em 2em;
    border-radius: 5px;
    font-weight: bold;
}

table.list tr td, table.list tr th, table.list thead tr th, table.list tr, table.list {
    border-collapse: collapse;
    border: 1px solid;
    padding: 5px;
}

div.block {
    margin: 10px 10px 50px 10px;
    /* border-bottom: 1px solid; */
}

.sticky {
    position: sticky;
    top: 0;
    background: #fff; /* чтобы заголовок не сливался с данными при прокрутке */
    z-index: 2; /* чтобы был поверх */
}

.verticaltext {
    writing-mode: vertical-lr;
    transform:rotate(180deg);
}

