@page "/"



@inject NavigationManager Nav


<PageTitle>Внесение данных работы оборудования</PageTitle>
<h3>Внесение данных работы оборудования</h3>
<div>
    <p>
        <button @onclick="GoToMeasureFillStart">Ввод новых измерений</button>
    </p>
</div>

<div>
    <p>
        <button @onclick="GoToViewPage">Просмотр внесенных данных</button>
    </p>
</div>

<div>
    <button @onclick="GoToSettingsPage">Настройка <font style="font-size:8pt; letter-spacing:-0.2em; cursor:pointer;"><sup>⛭</sup>⛭</font></button>
</div>


@code {
    void GoToSettingsPage()
    {
        Nav.NavigateTo("/Settings");
    }
    void GoToViewPage()
    {
        Nav.NavigateTo("/View");
    }
    void GoToMeasureFillStart()
    {
        Nav.NavigateTo("/MeasureFillStart");
    }

}
